@* @model List<CaseManager> *@
@using CrimeManagement.Data
@model List<ApplicationUser>

<h1 class="row justify-content-center">Case Managers</h1>
<div class="table-responsive">
    <table id="managerData" class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Cases</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/Managers.js"></script>
}